.mainpage{
    background: white;
    text-align:center;
}
.header {
    /* background-color: white;
    display: inline-flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between; */
    
    display: flex;
    background-color: white;
    border-bottom: 1px solid lightgray;
    width: auto;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
  
    
}
.header-left{
    display: inline-flex;
}
.header-left > h2{
    display:inline-block;
    font-size:15px;
    justify-content: space-evenly;
    padding: 13px;
    margin-left: 12px;
    font-weight:400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    line-height: 1.28571429;
    letter-spacing: normal;
    margin-top: 18px;
    
}
.header-left > h3{
    display:inline-block;
    font-size:15px;
    justify-content: space-evenly;
    padding: 13px;
    margin-left: 12px;
    font-weight:400;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    line-height: 1.28571429;
    letter-spacing: normal;
    margin-top: 18px;
    
}
.header-left > h3:hover{
    text-decoration: underline;
    color:rgb(51, 141, 194);
}
.signup-login{
    display: inline-flex;
    padding: 15px;
}
.sign-up{
    background-color: #5c195e;
    color: white;
    padding: .75rem 1rem;;
    margin-bottom: 5px;
    border-radius: 3px;;
    text-align: center;
    height: 20px;
    border-color: #5c195e;
    font-size: 15px;
    margin-left: 10px;
    
}
.log-in{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;;
    text-align: center;
    height: 20px;  

}

.log-in > a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.log-in >a:hover{
    text-decoration: underline;
    color:rgb(51, 141, 194);
}
.sign-up > a{
    color: #fff;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.sign-up:hover{
    background-color: rgb(80, 14, 80);
}
h1{
   font-family: Arial; 
}
.body{
   font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
   padding-top: 20px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 30px;
    text-align: center;
}
h3{
    color: black;
    text-align: center;
    font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: -.2px;
}
h4{
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 1.44444444;
    letter-spacing: -.2px;
}
h5{
    color: rgb(51, 141, 194);
    text-align: center;
    font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: -.2px;
    font-size: 20px;
    margin-bottom: 80px;
}
h4:hover{
    text-decoration: underline;
}

img{
    justify-content:space-between;
    display: inline;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    /* background-position: 17px 0; */
    background-repeat: no-repeat;
    background-size: 50px 16px;
    -webkit-box-flex: 1;
    /* flex-grow: 1; */
    width: 50px;
    height: 50px;
    /* margin-top: 20px; */
}
.slackers{
    font-weight: 400;
    font-size: x-large;
    margin-top: 10px;

}

#rollingball {
    width: 100%;
    max-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 80px;
}

video {
    object-fit: contain;
}

.home-page-whole-div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
}

.homepage-first-div {
    background-color: #E5E1DC;
    min-height: 400px;
    padding-left: 8%;
    padding-top: 100px;
    background-image: url(https://a.slack-edge.com/085e3/marketing/img/homepage/video/brand-campaign_hero-video.mp4);
}

.homepage-main-text {
    min-height: 100px;
    max-width: 600px;
    font-size: 54px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.homepage-p-text {
    min-height: 50px;
    max-width: 380px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    font-weight: 500;
}

.homepage-link {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.try-c-link {
    background-color: #611f69;
    font-size: 16px;
    font-weight: bold;
    padding: 19px 40px 20px;
    border-radius: 4px;
    margin-right: 5px;
    color: white;
    border: 1px solid #611f69;
    position: relative;
    z-index: 2;
}

.try-demo-link {
    background-color: #E5E1DC;
    font-size: 16px;
    font-weight: bold;
    padding: 19px 40px 20px;
    border-radius: 4px;
    margin-right: 5px;
    color: #611f69;
    border: 1px solid #611f69;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.already-signup-text {
    font-size: 13px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.already-signup {
    border-bottom: 1px solid #1264a3;
    color: #1264a3;
}

.homepage-2-div {
    text-align: center;
    min-height: 550px;
    padding-top: 100px;
}


.homepage-3-div {
    display: flex;
    justify-content: center;
    margin: 30px 150px;
    padding-bottom: 50px;
    padding-top: 50px;
    line-height: 25px;
}

.shape-img, .news-img, .hand-img {
    width: 45px;
    display: block;
    width: 100%;
    height: auto;
}



.body2{
    margin-top: 150px;
}
footer{
    border-top: 1px solid lightgray;
}
.img1{
    position:relative;
    text-align: center
}

.o-hero__background {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.o-hero__background--video {
    margin: auto;
    max-width: 100vw;
    object-fit: cover;
}

.container {
    background: #611f69;
    height: 150px;
}
  
.inner-container {
    display: flex;
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: whitesmoke;
    justify-content: space-between;
    margin: 0 12.5%;
}
.footer-links{
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.footer-links > h3 {
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
}
  
.github-img, .linkedin-img {
    display: flex;
    margin: 13px 0px;
}
  
.github-img > a, .linkedin-img > a {
    text-decoration: none;
    color: #A5A5A5;
    font-size: 13px;
    align-self: center;
}
  
.github-img > a:hover, .linkedin-img > a:hover {
    text-decoration: underline;
}
.fa-github, .fa-linkedin{
    border: none;
}
  
@media (max-width: 900px) {
    .inner-container {
      margin: 0 18.5%;
    }
}