.channel-form-container{
    margin-top: -90px;
    max-height: 90%;
    width: 500px
}

.newdm{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    /* background-color: darkorange; */
}

    .newdm-header{}

        .newdm-header h3{
            font-weight: bold;
            text-align: left;
            font-size: 25px;
            margin-bottom: 0;
        }

    .newdm-selected{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 50px;
    }

        .newdm-input-area{
            display: flex;
            flex-wrap: wrap;
            border: 1px solid grey;
            border-radius: 6px;
            width: 350px;
            padding-bottom: 3px;;
        }

            .newdm-input{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0;
                overflow: visible;
                /* background-color: lightgreen; */
            }

            .newdm-input ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .newdm-input ul li .user-tag{
                display: flex;
                flex-direction: row;
                margin: 3px 1.5px 0 1.5px;
                padding: 3px;
                font-weight: 600;
                border-radius: 3px;
                white-space: nowrap;
                background-color: lightcyan;

            }

            .newdm-input ul li .user-tag .avatar img{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }

            .newdm-input ul li .user-tag .close-tag{
                margin-left: 5px;
                height: 100%;
            }

        .newdm-selected > button{
            width: 15%;
            background-color: lightgray;
            border: none;
            border-radius: 6px;
            color: black;
        }
    
    .newdm-users-list{
        height: 400px;
        overflow-y: auto;
        margin: 20px 0;
    }

        .newdm-users-list ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;
        }

            .newdm-users-list ul li{
                
            }
            
            .newdm-users-list ul li:hover{
                background-color: #e9ecece8;
                transform: translateZ(50px);
            }             

            .newdm-users-list ul li .user-item{
                display: flex;
                flex-direction: row;
                padding: 5px 0;
                border-top: 1px solid lightgray;
            }

                .newdm-users-list ul li .user-item img{
                    width: 36px;
                    height: 36px;
                }