.messages-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 97%;
    height: 100%;
    max-height: 85%;
    margin: auto;
}

    .message-item{
        display: flex;
        flex-direction: row;
        margin: 5px 0;
    }

        .message-item:hover{
            background-color: #e9ecece8;
        }

        .message-avatar{
            position: relative;
            display: inline-block;
        }

            .message-avatar img{
                
                width: 36px;
                height: 36px;
            }

            .user-popup{
                position: absolute;
                display: none;
                z-index: 1;
            }

            .user-card{
                display: flex;
                flex-direction: column;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);               
                width: 200px;
                
            }

            /* .message-avatar:hover .user-popup{
                display: inline-block;
            } */

            .user-card img{
                width: 100%;
                height: 100%;
            }

            .user-name{
                font-weight: bold;
                padding: 10px;
            }

            .user-contact{
                padding: 10px;
            }
            
                .user-contact button{
                    width: 100%;
                    height: 40px;
                    background-color: transparent;
                    border: 1px solid #ccc;
                    border-radius: 12px;
                    font-size: 18px;
                    font-weight: 500;
                }

                .user-contact button:hover{
                    background-color: #e9ecece8;
                }

        .message-details{
            margin-left: 10px;
        }

            .message-author{
                font-weight: 900;
            }

            .message-time{
                color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
                font-size: 12px;
                margin-left: 5px;
            }

            .message-text{
                font-size: 15px;
                line-height: 1.5;
                font-weight: 400;
                color: rgba(var(--sk_primary_foreground,29,28,29),1)
            }


