.message-form-container {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    bottom: 0;
}

.message-form {
    border: 1px solid black;
    border-radius: 5px;
    width: 97%;
    height: 85%;
    margin: auto;
}

.message-form input {
    height: 65px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 20px;
}

.message-form input::placeholder {
    color: grey;
    font-weight: 200;
}