.message-form-container {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    bottom: 0;
}

.message-form {
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    border-radius: 5px;
    width: 97%;
    height: 85%;
    margin: auto;
}

.message-form input {
    height: 65px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 20px;
}

.message-form input::placeholder {
    color: grey;
    font-weight: 200;
}

.message-form-nav {
    display: flex;
    justify-content: space-between;
    color: grey;
    padding-top: 2px;
}

.message-form-list-one {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: flex;
    padding-top: 3px;
    padding-left: 15px;
    width: 50%;
    justify-content: space-between;
}

.message-form-list-one > li {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.message-form-list-one > li:hover {
    background-color: rgb(219, 219, 219);
}

.message-form-list-two {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: flex;
    padding-top: 3px;
    width: 20%;
    justify-content: space-evenly;
}

.message-form-list-two > li {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.message-form-list-two > li:hover {
    background-color: rgb(219, 219, 219);
}

.message-form-list-two > li:nth-child(2) {
    margin-top: -2.5px;
    font-size: 18px;
}