.slack-bar {
    background: #3F0F3F;
    height: 100%;
    width: 17%;
}

.slack-bar-header {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.slack-bar-header:hover {
    background-color: rgb(51, 12, 51);
}

.slack-bar-header:hover .slack-bar-currentUser{
    color: white;
}
.slack-bar-workspace-menu {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    width: 120px;
}

.slack-bar-workspace {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.slack-bar-currentUser {
    color: rgba(255, 255, 255, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.slack-bar-notifications {
    margin-top: 6px;
    margin-right: 10px;
    font-size: 20px;
}

.slack-bar-dropdown {
    position: absolute;
    width: 220px;
    left: 10px;
    top: 40px;
    background-color: rgb(243, 243, 243);
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.slack-bar-dropdown > li:first-child {
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 5px;
}

.slack-bar-dropdown > li:last-child {
    margin-bottom: 10px;
    border-top: 1px solid lightgrey;
}

.slack-bar-dropdown > li:last-child:hover {
    background-color: rgb(66, 112, 172);
}

.slack-bar-dropdown > li:last-child:hover button {
    color: white;
}

.slack-bar-dropdown > li {
    padding-left: 15px;
    padding-top: 5px;
}

.slack-bar-dropdown > li > button {
    border: none;
    background-color: inherit;
    font-size: 14px;
    padding-left: 0;
    cursor: pointer;
    width: 100%;
    text-align: initial;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #00c792;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 1px;
}

i {
  border: solid rgba(255, 255, 255, 0.76);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* .navbar-channels {
    
} */

.navbar-channels-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -3px;
}

.navbar-channels-h2 {
    color: rgba(255, 255, 255, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 15px;
}

.navbar-add-channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-add-channel > button {
    padding: 0px;
    font-size: 20px;
    background-color: inherit;
    border: none;
    color: rgba(255, 255, 255, 0.76);
    margin-right: 15px;
    cursor: pointer;
    font-weight: 400;
    outline: none;
}

.navbar-channels-list {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.navbar-channels-list > li {
    color: rgba(255, 255, 255, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 15px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-channels-list > li:hover {
    background-color: rgb(51, 12, 51);
}
.navbar-delete-button{
    display: inline-flex;
    border-radius: 50%;
    background: rgba(139, 0, 0, 0);
    color: white;
    height: 20px;
    font-weight: bolder;
    border-width: 0.0cm;
}