.workspace-channel {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.workspace-contents {
    height: 92.3%;
    display: flex;
}

.workspace-messages {
    height: 100%;
    width: 100%;
}