.channel-navbar {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.channel-info {
    width: 50%;
    margin: 10px 0 10px 25px;
}

.channel-navbar-name {
    font-size: 18px;
    margin: 0;
}

.channel-navbar-details {
    display: flex;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin: 0;
    color: darkgrey;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}

.channel-navbar-details > li {
    border-right: 1px solid lightgrey;
    padding: 0 10px 2px;
}

.channel-navbar-details > li:first-of-type {
    border-right: 1px solid lightgrey;
    padding-right: 10px;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    width: 30px;
    justify-content: space-between;
    align-items: center;
}

.channel-navbar-list {
    display: flex;
    list-style-type: none;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    color: darkgrey;
    justify-content: space-evenly;
    font-size: 20px;
    width: 10%;
    position: relative;
    margin-right: 5px;
    margin-block-end: 0em;
    align-items: center;
}

.channel-navbar-list > li {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.at {
    color: grey;
}

.search > input {
    border-radius: 5px;
    outline: none;
}

.channel-navbar-list > li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.gear-dropdown {
    list-style: none;
    position: absolute;
    top: 45px;
    right: 33px;
    background: rgb(243, 243, 243);
    border-radius: 3px;
    padding-inline-start: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 150px;
}

.gear-dropdown > li {
    font-size: 15px;
    color: black;
    cursor: pointer;
    padding: 10px;
}

.gear-dropdown > li:hover {
    color: white;
    background-color: rgb(66, 112, 172);
}