.channel-navbar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.channel-info {
    width: 35%;
    margin-left: 25px;
}

.channel-navbar-name {
    height: 50%;
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}

.channel-navbar-details {
    height: 40%;
    display: flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin: 0;
    margin-top: -10px;
    color: darkgrey;
    font-weight: 400;
}

.channel-navbar-details > li {
    line-height: 2;
    margin-right: 5px;
    border-right: 1px solid lightgrey;
    padding-right: 5px;
    padding-left: 5px;
}

.channel-navbar-details > li:hover {
    background-color: lightgray;
    cursor: pointer;
}
/* .icon{
    font-size: 20px;
} */

.channel-navbar-list {
    display: flex;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    color: darkgrey;
    justify-content: space-evenly;
    font-size: 20px;
    width: 40%;
    margin-top: 20px;
}

.at {
    color: grey;
}

.search > input {
    border-radius: 5px;
    outline: none;
}

.channel-navbar-list > li:hover {
    background-color: lightgray;
    cursor: pointer;
}