
.modal-child { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.channel-form-container{
    background-color: red;
    position: relative;
    top: 20%;
    left: 50%;
    margin-left: -220px;
    width: 400px;
    background: #fff;
    z-index: 3;
    border-radius: 5px;
    border: 1px solid grey;
    justify-content: center;
}
.channel-form-box{
    border-radius: 5%;
    padding: 17px;
    background: white;
    position: relative;
    z-index: 2;
    min-height: 440px;   
}
.channel-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
}
.channel-header{
    align-items: center;
    text-align: center;
}

 .channel-input {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #9a9696;
    width: 96%;
    outline: none;
 }

 .channel-label > h3 {
    padding: 5px;
 }

 .channel-submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
 }

 .channel-submit {
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    background-color: rgb(211, 209, 209);
    cursor: pointer;
    outline: none;
 }

 .channel-submit:hover {
    background-color: rgb(184, 184, 184);
 }

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.newchannel-label {
    margin-bottom: 30px;
}

.newchannel-label > h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    line-height: 0;
    letter-spacing: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bottom > small{
    position: relative;
}
label > h2 {
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: -10px;
    margin-top: 18px;
}
small {
    color: rgb(129, 125, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.description > small {
    margin-bottom: 5px;
}
.private > h2{
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: -10px;
    margin-top: 15px;
}
/* button function */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
#app-cover{
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}
.row{
    display: table-row;
}
.toggle-button-cover{
    display: table-cell;
    position: absolute;
    width: 120px;
    height: 140px;
    box-sizing: border-box;
    margin-left: 270px;
    margin-top: -60px; 
    right: -17px;
}
.button-cover{
    height: 100px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 0 10px 20px -8px #c5d6d6; */
    border-radius: 4px;
}
.button-cover:before{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}
.button-cover, .knobs, .layer{
    position: absolute;
    top: 0;
    right: 10;
    bottom: 0;
    left: 0;
}

.button{
    position: relative;
    top: 50%;
    width: 71px;
    height: 30px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}
.button.r, .button.r .layer{
    border-radius: 100px;
}
.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.knobs{
    z-index: 2;
}
.layer{
    width: 90%;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s ease all;
    z-index: 1;
}
/* Button 1 */
#button-1 .knobs:before{
    content: 'No';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 20px;
    height: 8px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: rgb(88, 86, 86);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
#button-1 .checkbox:checked + .knobs:before{
    content: 'Yes';
    left: 35px;
    background-color: #2f85f5;
}
#button-1 .checkbox:checked ~ .layer{
    background-color: rgb(192, 242, 255);
}
#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer{
    transition: 0.3s ease all;
}
/* errors */
.error-list {
    width: 500px;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin: auto;
}

.error-list > li {
    border: 1px solid lightgray;
    border-radius: 5px;
    color: rgb(211, 51, 91);
    width: 67%;
    min-height: 15px;
    margin-top: -16px;
    margin-left: -46px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 5px solid rgb(211, 51, 91);
}

.error-list li > span {
    margin-right: 5px;
    color: rgb(211, 51, 91);
} 